<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact Us")}</%block>

  <!--/********************************************delete here **************************************************************/-->




		<div class="main-wrapper scrollspy-container">

		<!-- 	<div class="breadcrumb-wrapper">
			
				<div class="container padding-0">
					
					<h1 class="page-title">من نحن   </h1>
					
					<div class="row">
					
						<div class="col-xs-12 col-sm-8">
							<ol class="breadcrumb">
								<li><a href="${marketing_link('ROOT')}">الرئيسية </a></li>
								<li class="active">من نحن  </li>
							</ol>
						</div>
						
					
						
					</div>
					
				</div>

			</div>
			 -->
	



       <div >
                <div class="container">
                    <div class="row">

                    <div class="col-xs-12">

                   <div class="row">

                     <div class="text-center About-contact"><h1>${_("Contact")}</h1></div>

                      <div class="col-md-12 empty-div-new-c hidden-xs"></div>
                      
                    <div class="Contact-n-us">
                      <h3><span class="fa fa-phone"></span>${_("Tel: +2 02 37742347  Ext : 2000")} </h3>
                      <h3><span class="fa fa-fax"></span>${_("Fax: +2 02 335706471")} </h3>
                      <h3><span class="fa Example of envelope fa-envelope"></span>${_("Email:")} info@egymoocs.nelc.scu.eg</h3>
                      <h3><span class="fa Example of location-arrow fa-location-arrow"></span>${_("Address: The Supreme Council of Universities, Cairo - University Campus - Third Floor - 13613 Giza - Egypt")}</h3>
                    </div>

                    <div class="col-md-12 empty-div-new-c hidden-xs"></div>
                   </div>

                    </div>

                    </div>
                </div>
            </div>








		</div>















<!--/**********************************************end delete************************************************************************-->
